.outer-div{
    width: 400px;
    background: rgb(224, 211, 211);
}
.inner-div{
    border-radius: 5px;
   
    text-align: center;
    background: rgb(224, 211, 211);
}
.search-icon{
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    float: right;
    text-align: right;
}
.search-icon i{
    margin: 0 10px;
}
.ellipsis-list{
    float: right;
    border-radius: 5px;
    width: 150px;
    height: 150px;
    background: white;
    text-align: left;
}
  
.modal-content{
    width: 450px;
}
.modal-footer{
    text-align: center;
}
.btn-primary{
    margin-right: 200px;
}
 .btn-danger{
    margin-left: 200px;
}
.modal-body input{
  display: inline-block;
  width: 350px;
height: 35px;
}

.form-group {
margin-bottom: 15px;
margin-left: 30px;
}
.modal-body i{
    cursor: pointer;
    margin-left: 8px;
}
.modal-body{
    height: 300px;
    overflow-y: auto;
    border-bottom:none!important;

}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #888; 
}
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.contact{
    margin-top: 10px;
    padding: 10px 0;
   list-style: none;
   cursor: pointer;
}