
body{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: center;
}
img{
  height: auto;
  border: 0;
  max-width: 100%;
}
/***HEADER SECTION START****/
.headersection{
  width: 100%;
  height: 100%;
  background-image: url("../images/outsource-services-home-hero-bg.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;

}
.navbar-brand {
      padding: 0!important;
      margin-left: 100px;
  }
.navbar-brand img{
  height: 140px;
  width: 160px;
max-height: 150px;
  margin-bottom: 0!important;
}
.navbar{
  background-color: transparent;
 width: 100%!important;
 padding: 0%!important;
 margin: 0%!important;
}
.navigation{
  padding-left: 0!important;
  padding-right: 0!important;
}
.navigation a{
    color:white!important;
    text-align: right;
    text-decoration: none;
}
.navbar-toggler{
  outline: none!important;
}
span{
  color: white!important;
  font-size: 20px!important;
}
.navigation ul{
  margin-right: 100px;
}

.headercontant{
  text-align: left;

}
.headercontant h1{
color: #f0d816;
}
.headercontant p{
  font-size: 20px;
  color:white;
  font-weight: 800px;
}
.headercontant h1{
  margin-left: 100px;
}
.headercontant p{
  margin-left: 100px;
}
.headercontant button{
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 120px;
  text-align: center;
}
.headercontant{
  float: right;
  }
  @media only screen and (max-width: 600px) {
    .navigation ul{
      margin-right: 20px;
    }
    .navbar-brand {
      padding: 0!important;
      margin-left: 10px;
  }
  .navbar-brand img{
    height: 120px;
    width: 140px;
   max-height: 120px;
  margin-bottom: 0!important;
  }
  .top-header{
    text-align: center;
    padding-right: 0px;
  }
  }
/***HEADER SECTION END****/
/***LAYER 3 START****/
.layer3{
  margin-top: 30px;
  margin-bottom: 80px;
}
.layer3content{
  margin-top: 80px;
}
.layer3content h1{
  margin-left: 80px;
}
.layer3content p{
  margin-left: 80px;
  margin-right: 30px;
}
.layer3content button{
  margin-left: 80px;
}
.image2 img{
  max-width: 100%;
  height: auto;
}
.layer3div{
  padding-top: 50px;
}
.layer4content{
  margin-top: 0px;
  margin-bottom: 0px;
}
.layer4content h1{
  margin-left: 20px;
}
.layer4content p{
  margin-left: 20px;
  margin-right: 100px;
}
.layer4content button{
  margin-left: 20px;
}
.layer4div{
  padding-top: 80px;
}
.image3 img{
  max-width: 100%;
  height: auto;
}
/***LAYER 3 END****/
/*.section3::after{
  content: '';
  background-color: yellow;
  display: block;
  height: 10px;
  width: 700px;
  margin: 20px auto 5px;
 z-index: 1;
}
*/
.section3content button{
  padding: 5px 20px;
  background-color: white;
}
.section3content{
  padding: 80px 30px;
}
.section3content h1{
  color:#f0d816; ;
}
.section3content p{
color: white;
padding: 10px 0;
}
.section3content button{
  padding: 10px 25px;
}
/***SERVICE SECTION START****/
.Services{
 
  width: 600px;
  display: flex;
  
  margin: 50px;
  justify-content: center;
  align-items: center;
}

.services{
  padding: 30px 0;
  text-align: center;
}
.services img{
  width: 100%;
  height: auto;
  text-align: center;
}
.services h1{
font-weight: 400px;
text-align: center;
}
.services h3{
  font-size: 25px;
}
.services p{
 color: gray;
 font-size: 20px;
 padding: 30px 0;
 }
/***SERVICE SECTION END****/
/*** SECTION 5 START****/
.section5{
  margin: 30px 0;
}
 .section5 img{
  width: 100%;
  height: auto;
}
.section5contant{
  margin-top: 80px;
}
/*** SECTION 5 END****/
/*** FREQUENTLY ASKED QUESTION START****/
.accordiansection{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
 
}
.accordiandiv{
  display: flex;
   align-items: center;
    justify-content: center ;
    text-align: center;
    padding: 0 30px;
}
.container{
  width: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.accordian h1{
  padding-bottom: 30px;
}
.accordian-item{
  background-color:white;
 
  margin-bottom: 1rem;
  padding: 1rem;
}
.accordian-link{
  font: size 1.6rem; 
  background-color:  #ddd ; 
  text-decoration: none;
  color:black;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  text-decoration: none;
}
.accordian-link:hover{
text-decoration: none;
color: black;
}
.icon{
  color: black;
  padding: .5rem;
}
.iconremove{
 
  display: none;
}
.answere{
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: white;
}
.answere p{
  color: black;
  font-size: 1.4rem;
  padding: 2rem;
}
.accordian-item:target .answere{
  max-height: 10rem;
}
.accordian-item:target .accordian-link .iconadd{
  display: none;
}
.accordian-item:target .accordian-link .iconremove{
  display: block;
}
/*** FREQUENTLY ASKED QUESTION END****/
/*** Complete Case Studies START****/
.completecasestudiesdiv{
  text-align: center;
}
.completecasestudies{
  padding-top: 80px;
}
.completecasestudiesdiv p{
  color: gray;
}
.completecasestudiesdiv h1{
  font-size: 30px;
  font-weight: 400px;
}
.completecasestudiesdiv img{
 width: 100%;
 height: auto;
 max-width: 1000px;
 max-height: 500px;
}

/*** Complete Case Studies END****/
/*** form section start****/
.input-container {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}
.input-container input,.input-container button{
    font-size: 1.5rem;
    border: none;
    background: white;
}
.input-container button:focus{
  background: white;
}
.input-container i{
  padding: 0!important;
}
.subscribe{
width: 100%;
max-width: 1200px;
    background-color: #5e4ef5;
border-radius: 5px;
    text-align: center;
    padding: 40px 20px 0  20px;
    
}
.subscribe p{
    color: white;
    font-size: 1rem;
    font-weight: 400px;
}
.subscribe h1{
    color: white;
    font-weight: bold;
    font-family: Cambria;
}
.formsection{
  background-color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.subscribe{
  position: relative;
  top: 60px;
}
/*** form section end****/

/*** FOOTER START****/
footer{
  background-color:#2d2f44 ;
}
.footer{
   padding-top: 100px;
  padding-bottom: 60px;}
.socialiciondiv{
padding-top: 30px;
text-align: center;
}
.socialiciondiv img{
  width: 100%;
  height: auto;
 
}
.socialicion{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
}
.socialicion a{

  padding: 10px;
  
}
.socialicion img{
  border-radius: 50%;
}
.contactinfo{
  color: white;
  padding-top: 30px;
  text-align: left;

}
.contactinfo a{
  color: white;
  text-decoration: none;
}

.quicklinks{
color: white;
padding-top: 30px;

}
.quicklinks h4{
  color: white;
}
.quicklinks li{
  padding: 10px 0;
  color: rgb(93, 93, 175);
}
.quicklinks a{
  color: white;
  text-decoration: none;

}.quicklinks a:hover{
  color: white;
  text-decoration: none;

}
.informationabout{
color: white;
padding-top: 30px;

}
.informationabout h3{
  font-size: 30px;
}
.informationabout li{
  padding: 10px 0;
  color: rgb(93, 93, 175);
}
.informationabout a{
  color: white;
  text-decoration: none;

}.informationabout a:hover{
  color: white;
  text-decoration: none;

}
.copyright{
  border-top: 1px solid rgb(110, 106, 106);
  color: white;
  padding: 12px 0;
}
/*** FOOTER END****/
